.container{
    color:white;
    padding-left:2.7%;
}
.first , .second{
    line-height:2.1;
}
.flex{
    display:flex;
    align-items:center;
}

.flex h3{
    padding-left:8%;
}
.container{
    margin-top:2%;
    width:17%;
}
.container img{
    width:16px;
    height:16px;
}
.gap{
    margin-top:1rem;
    background-color:#444444;
    width:13rem;
    height:0.05rem;
    margin-bottom:1rem;
}